/*===================================================
GENERAL
/*===================================================*/
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: "Roboto", ​Helvetica Neue,​ Helvetica, ​Arial, ​sans-serif;
    padding-top: 50px;
    background: #eeeeee;
}
table th a {
    color: #333;
}
table th a:hover {
    color: #000;
    text-decoration: none;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
    padding: 15px;
}
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px 15px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border: none;
}
.table {
    margin-bottom: 0;
}
.table-summary {
    font-size: .8em;
    margin: 15px;
}
.table-caption {
    font-size: 1.5em;
    color: #333;
    margin: 0 15px;
}
.transition-bg {
    transition: background 0.15s linear 0s, color 0.15s linear 0s;
}
.table-action-button {
    color: #999;
}
/*===================================================
HEADER
/*===================================================*/
.header {
    background: url("../img/navbar-bg.jpg") center center;
    width: 100%;
    height: 50px;
    color: #fff;
    position: fixed;
    top: 0;
    padding: 0 20px;
}
.header-title {
    font-size: 1.6em;
    line-height: 50px;
    color: #fff;
}
.header-title:hover,
.header-title:focus {
    color: #fff;
    text-decoration: none;
}

/*
NavBar
*/
.navbar-dark,
.navbar-dark .navbar-brand {
    color: #fff;
}
/*===================================================
SIDEBAR
/*===================================================*/
.side-content {
    position: fixed;
    top: 50px;
    bottom: 0;
    width: 250px;
    border-right: 1px #dedede solid;
    background: #FFF;
}
.info {
    padding: 20px;
    color: #333;
    border-bottom: 1px #dedede solid;
}
.info__title {
    margin: 0;
}
.info__content {
    margin-top: 5px;
}
.nav-list {
    list-style-type: none;
    padding: 0;
}
.nav-list__item {

}
.nav-list__link {
    padding: 10px 10px 10px 20px;
    display: block;
    transition: background 0.15s linear 0s, color 0.15s linear 0s;
    color: #333;
    font-weight: 500;
}
.nav-list__link:hover,
.nav-list__link:focus {
    background: #ecf0f1;
    color: #333;
    text-decoration: none;
}
.nav-list__item-title {
}
.nav-list__item-icon {
    padding-right: 5px;
}
/*===================================================
CONTENT
/*===================================================*/
.page {
    margin-left: 250px;
}
.page__head {
    padding: 20px;
}
.page__title {
    margin: 0;
    font-weight: 100;
    font-size: 2.3em;
}
.page__content-wrapper {
    padding: 0 20px;
}
.page__content {
    border: 1px #dedede solid;
    background: #fff;
}
.breadcrumbs {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: .9em;
}
.breadcrumbs__item {
    display: inline-block;
}
.breadcrumbs__item-link {
    color: #636363;
}
.breadcrumbs__item_active {
    color: #999;
}
.breadcrumbs__item-link:hover {
    text-decoration: none;
    color: #000;
}
.breadcrumbs__item + .breadcrumbs__item::before {
    color: #ccc;
    content: "/";
    padding: 0 6px;
}